

#cartel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(143, 126, 88);
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: -8px 8px 8px rgba(241, 241, 240, 0.566);
    min-width: 300px;
    max-width: 40em;
    line-height: 1.8em;
    width: auto;
    text-align: center;
    padding: 1.5em 1em;
    position: sticky;
    z-index: 1;
    margin: auto;
    transform: translateY(-200%);

    div {
        font-size: 1.2em;
        font-weight: 700;
        max-height: 6em;
        overflow: auto;
    }

    button {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        min-width: 46%;
        margin: 1.5em .5em 0;
        padding: 10px;
        border-radius: 8px;
        background-color: rgb(117, 56, 3);
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border: 4px outset  rgb(74, 30, 2);
        box-shadow: -2px 2px 12px rgb(241, 241, 240);

        cursor: pointer;

        &:hover {
            filter: brightness(70%);
        }

        &:active {
            transform: scale(.9);
        }
    }
}